.carousel {
  overflow: hidden;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  background-color: white;
  color: #282c34;
}

.indicators {
  display: flex;
  justify-content: center;
}

.indicators > button {
  margin: 5px;
  border-radius: 25%;
  border: none;
  font-size: 1.5rem;
}

.indicators > button.active {
  background-color: #282c34;
  color: white;
}
